# Terraform
*.tfvars
*.tfstate
*.tfstate.backup
.terraform/
**/.terraform/

# Python
__pycache__/
*.pyc
*.pyo
venv/

# Node
node_modules/

# Environment
.env
*.pem
*.key

# Node
frontend/node_modules/